body {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.navbar {
    height: 5vh;
}

.content {
    position: relative;
    top: 5vh;
    height: 90vh;
    perspective: 1500px;
}

.messages {
    position: relative;
    top: 5vh;
    height: 5vh;
}

.my-alert {
    height: 5vh;
    vertical-align: middle;
}